<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ @package   pkg_keensearch
  ~ @version   __DEPLOY_VERSION__
  ~ @author    Dmitriy Vasyukov - https://fictionlabs.ru
  ~ @copyright Copyright (c) 2022 Fictionlabs. All rights reserved.
  ~ @license   GNU/GPL license: http://www.gnu.org/copyleft/gpl.html
  ~ @link      https://fictionlabs.ru/
  -->

<config>
	<fieldset
		name="keensearch"
		label="COM_KEENSEARCH_FIELD_CONFIG_INDIVIDUAL_KEENSEARCH_DISPLAY"
		description="COM_KEENSEARCH_FIELD_CONFIG_INDIVIDUAL_KEENSEARCH_DESC"
		>
		<field
			name="show_keensearch_name_label"
			type="list"
			label="COM_KEENSEARCH_FIELD_KEENSEARCH_SHOW_CATEGORY_LABEL"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="custom_fields_enable"
			type="radio"
			class="switcher"
			label="JGLOBAL_CUSTOM_FIELDS_ENABLE_LABEL"
			default="1"
			>
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>

		<field
			name="show_name"
			type="radio"
			label="COM_KEENSEARCH_FIELD_PARAMS_NAME_LABEL"
			default="1"
			class="switcher"
			>
			<option value="0">JHIDE</option>
			<option value="1">JSHOW</option>
		</field>

	</fieldset>
	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_keensearchs"
			section="component"
		/>
	</fieldset>
</config>
